#main   {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;
    padding: 10px;
    min-width: 300px;
}

#title{
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
}

#img-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

#img-div:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}

#img-caption {
    font-size: 1rem;
    margin-top: 10px;
    justify-self: center;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;

}

#img-caption {
    font-size: 1rem;
    margin-top: 10px;
}


#tribute-info {
    display: block;
    font-size: 1rem;
    text-align: center;
}

#headline {
    margin: 50px 0;
    text-align: center;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px;
}

#cta {
    display: block;
    font-size: 1.16rem;
    font-style: bold;
    text-align: center;
    margin-top: 50px;
}
